.pagination{
    position:relative;
    background-color:#fff;
    display:flex;
    padding:5px 20px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
  }
  ul li{
    list-style:none;
    line-height:50px;
    margin: 0 5px;
    font-size:20px;
    
    
  }
  ul li.list{
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
  }
  .active{
    display:block;
    text-decoration:none;
    color:cyan;
    font-weight:600;
    border-radius:50%;
  }
  